input[type="date"] {
  padding: 8px;
  margin-left: 10px;
}

button {
  background: #db481d;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  max-height: 4rem;
  max-width: 8.5rem;
}

.result {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.error {
  color: red;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(255, 244, 229);
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content p {
  margin: 0.75rem 0;
}

.horoscope-message {
  font-style: italic;
  color: #666;
  margin: 15px 0;
  padding: 10px;
  border-left: 3px solid #dd7017;
  background-color: #fff5eb;
}

.sign-details {
  color: #313638;
  padding-bottom: 0.75rem;
}

@media screen and (max-width: 480px) {
  .modal-content {
    padding: 1rem;
    margin: 1.5rem;
  }

  .horoscope-message {
    margin: 10px 0;
    padding: 8px;
  }
}
